---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Search from '../components/Search.astro';
import Mensaje from '../components/Mensaje.astro';
import Persona from '../components/Persona.astro';
---

<Layout title="Welcome to Astro.">
	<main>

		<body class="bg-gradient-to-b from-purple-light to-white min-h-screen p-4">

			<h1 class="text-4xl font-bold text-center mt-7 mb-5 text-fuchsia-700">Influsend</h1>
		
				<Search/>
				
				<div>
					<h2 class="text-sm font-medium mb-3">Pinned Chats</h2>
					<div class="grid gap-3">

						<Mensaje user='George Lobko' 
						href='/placeholder.svg?height=40&width=40'
						body="Hey! It’s been a minute! How about coffee or lunch sometime soon? I’d love to catch up and hear all about what you’ve been up to."/>

						<Mensaje user='Amelia Peries' 
						href='/placeholder.svg?height=40&width=40'
						body="I'm stuck in traffic"/>

					</div>
				</div>
		
				<div>
					<h2 class="text-sm font-medium mb-3">All Chats</h2>
					<div class="space-y-3">

						<Persona user='Kalista Rekev' href='/placeholder.svg?height=40&width=40' hour='10.23' body='I hate marshmello'/>

						<Persona user='Kalista Rekev' href='/placeholder.svg?height=40&width=40' hour='10.23' body='I hate marshmello'/>

						<Persona user='Kalista Rekev' href='/placeholder.svg?height=40&width=40' hour='10.23' body='I hate marshmello'/>

						<Persona user='Kalista Rekev' href='/placeholder.svg?height=40&width=40' hour='10.23' body='I hate marshmello'/>
		
		
					</div>
				</div>
			</div>

	</main>
</Layout>
