---
interface Props {
	user: string;
	body: string;
	href: string;
}

const { href, user, body } = Astro.props;
---

<div class="bg-white rounded-xl p-3 relative shadow">
	<div class="absolute top-2 right-2 w-2 h-2 bg-green-500 rounded-full"></div>
	
	<div class="flex space-x-3 items-center">
		<img src={href} alt={user} class="w-8 h-8 rounded-full object-cover">
		<h3 class="font-medium">{user}</h3>
	</div>
	<p class="mt-2 text-sm text-gray-500">{body}</p>
</div>